*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

html {
  /* 62.5% * 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  /* 1.5 times the current font size that is 2.4 rem that is 24px * 1.5 = 36px */
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2.4rem;
  }
}